@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', Lato;
  font-size: 1rem;
  background-color: #fff;
  background-image: url(https://www.smogon.com/forums/attachments/ezgif-com-gif-maker-gif.281708/);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.arrowIcon {
  position: relative;
  top: 0;
  transition: top ease 0.5s;
  margin-right: 1rem;
  background-color: #fff;
}

.arrowIcon:hover {
  right: -10px;
  font-size: 1.2rem;
}