@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
}

.backgroundColorOdd {
  background-color: #068D9D;
  color: #C6EBBE;
}

.table-row:nth-child(odd) {
  background-color: #068D9D;
  color: #C6EBBE;
}

.link-light {
  background-color: #068D9D;
  border: 1px solid #C6EBBE;
  color: #C6EBBE;
  transition: transform .2s;
}

.link-light:hover {
  transform: scale(1.03);
}